<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>user info input from contact page</h1>
<div>
    <p th:text="'name: ' + ${userinfo.userName}" />
    <p th:text="'profile pic: ' + ${userinfo.userProfilePic}" />
    <p th:text="'description: ' + ${userinfo.userDescription}" />
    <a href="/contact">create anohter user</a>
</div>
</body>
</html>